<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename = "style.css")}}"
    />
  </head>
  <body>
    <header>
      <nav>
        <input id="nav-toggle" type="checkbox" />
        <div class="logo">DEMENTIA IDENTIFICATION</div>
        <ul class="links">
          <li><a href="#1">Home</a></li>
          <li><a href="/phase1">First layer</a></li>
          <li><a href="/phase2">Second layer</a></li>
          <li><a href="#4">Contact</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>
    </header>
    <img id="1" style=" background-attachment: fixed; width: 98vw; height: 95vh;
    margin-top: 50px; background-size: cover; " src="{{
    url_for('static',filename = "wall1.jpeg")}}" />
    <h1
      style="
        position: relative;
        text-align: center;
        bottom: 400px;
        color: white;
        font-size: 40px;
      "
    >
      WELCOME TO VIRTUAL DEMENTIA IDENTIFICATION PLATFORM
    </h1>
    <marquee style="position: relative; font-size: 35px; bottom: 350px"
      >YOU CAN TAKE TEST ANYTIME</marquee
    >
    <h1 style="text-align: center">Introduction about Dementia Disease</h1>
    <p>
      Dementia is basically a syndrome which usually remains lifelong and show
      the nature of progression in terms of symptoms as the affected person
      starts ageing. It is not a disease but syndrome which is a term used to
      refer to the group of symptoms which do not have any fixed treatment. In
      this disease, a person loses his cognitive functioning such as ability to
      think, memory, behaviour and the ability to perform day to day activities.
      It usually affects older people and it is abnormal part of ageing.
    </p>
    <p>
      Alzheimer’s disease falls under the category of Dementia and it is one of
      the major cause for 60-70% of the cases reported every year. Dementia is
      responsible for disability and dependency of older people on others.
      People with dementia not only experience these symptoms but also have
      physical, psychological, societal and economic impact on their career,
      families and society. All the mental diseases which comes under the broad
      term ‘Dementia’ occur due to changes taking place in the brain. These
      changes lead to decrease in thinking skills of people also known as
      cognitive abilities which can severely affect daily life of people and
      their day-to-day activities. It also affects relationships, behaviour and
      feelings. People in this era are not having enough awareness and
      understanding about Dementia which often leads to delay in the care and
      diagnosis of the patient. Hence there is a crucial need for spreading
      awareness and ensuring complete understanding of the Disease which often
      occurs in old aged people. There is often lack of awareness and
      understanding of Dementia which leads to delay in diagnosis and care. Thus
      there is need to spread awareness and complete understanding of this
      disease which often occurs in old-aged people.
    </p>
    <footer>
      <div>
        <p id="4">Ravi Kumar Gupta</p>
        <div>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/in/ravi-kumar-gupta-0887991b1/"
            ><img style="width: 30px; height: 30px; color: white" src="{{
            url_for('static',filename = "linkedin.svg")}}" /></a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/real-coder007Ravi"
          >
            <img style="width: 30px; height: 30px" src="{{
            url_for('static',filename = "github.svg")}}"/>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/ravi246383gupta/"
          >
            <img style="width: 30px; height: 30px" src="{{
            url_for('static',filename = "instagram.svg")}}" />
          </a>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <a href="#1" style="color: white; text-decoration: none; margin: 15px"
          >Home</a
        >
        <a
          href="/phase1"
          style="color: white; text-decoration: none; margin: 15px"
          >First layer test</a
        >
        <a
          href="/phase2"
          style="color: white; text-decoration: none; margin: 15px"
          >Second layer test</a
        >
      </div>
    </footer>
  </body>
</html>
