<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename = "style.css")}}"
    />
  </head>
  <body>
    <header>
      <nav>
        <input id="nav-toggle" type="checkbox" />
        <div class="logo">DEMENTIA IDENTIFICATION</div>
        <ul class="links">
          <li><a href="#1">Home</a></li>
          <li><a href="/phase1">First layer</a></li>
          <li><a href="/phase2">Second layer</a></li>
          <li><a href="#4">Contact</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>
    </header>
    <img id="1" style=" background-attachment: fixed; width: 98vw; height: 95vh;
    margin-top: 50px; background-size: cover; " src="{{
    url_for('static',filename = "wall1.jpeg")}}" />
    <h1
      style="
        position: relative;
        text-align: center;
        bottom: 400px;
        color: white;
        font-size: 40px;
      "
    >
      WELCOME TO VIRTUAL DEMENTIA IDENTIFICATION PLATFORM
    </h1>
    <marquee style="position: relative; font-size: 35px; bottom: 350px"
      >YOU CAN TAKE TEST ANYTIME</marquee
    >
    <footer>
      <div>
        <p id="4">Ravi Kumar Gupta</p>
        <div>
          <img style="width: 30px; height: 30px; color: white" src="{{
          url_for('static',filename = "linkedin.svg")}}" /> <img style="width:
          30px; height: 30px" src="{{ url_for('static',filename =
          "github.svg")}}"/> <img style="width: 30px; height: 30px" src="{{
          url_for('static',filename = "instagram.svg")}}" />
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <a href="#1" style="color: white; text-decoration: none; margin: 15px"
          >Home</a
        >
        <a
          href="/phase1"
          style="color: white; text-decoration: none; margin: 15px"
          >First layer test</a
        >
        <a
          href="/phase2"
          style="color: white; text-decoration: none; margin: 15px"
          >Second layer test</a
        >
      </div>
    </footer>
  </body>
</html>
