<html>
    <head>WELCOME TO THE VIRTUAL IDENTIFICATION PLATFORM</head>
    <BODY bgcolor="Blue">
        <H1><CENTER>WELCOME TO INTEGRATED PLATFORM FOR ALZHEIMER IDENTIFICATION </CENTER></H1>
       <center><img style="height: 600px; width: 600px" src="{{ url_for('static',filename = 'wall2.jpeg')}}"/></center>
        <A HREF="/phase1">TAKE TEST NOW</A>
        <p><B><I>Hello Patient The Whole Process of the Identification is Divided into two Layers: First Layer Comprising of Two Tests namely PUZZLE TEST and CLCOK DRWAING TEST<BR>IF FOUND SUSPECT IN THE FIRST LAYER THEN WE WILL MOVE TO THE NEXT LAYER COMPRISING OF SEVEN DIFFERENT Tests
        <BR>namely
            1.Subsequent Recall Test
            2.Time Orientation Test
             3.Personal Information Test
             4.Rememberance Test
            5.Comaprsion Test
             6.Memory Test
             7.Image Recognition Test<br>
            Otherwise We will be sure of Not Having Dementia </p>

        <A HREF="/phase2">TAKE TEST FOR SECOND LAYER OF TESTS</A>
</BODY>
</html>